<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/dist/output.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="w-pantallaRaspX h-pantallaRaspY flex items-center justify-center bg-senciBlue">
        <a href="/step-1">
            <img src="{{ url_for('static', filename='img/senciLogoMain.png')}}" alt="Logo Senci" class="object-cover h-48 w-80 border-gray-600 bg-auto">
        </a>
    </div>
</body>
</html>