<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retirar</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/dist/output.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="w-pantallaRaspX h-pantallaRaspY flex flex-col items-center  p-4">
        <div class="w-full h-8 flex justify-between items-center">
            <a href="/step-1" class="flex items-center justify-center gap-1 mb-2 mr-3">
                <div class="text-[12px] flex items-center justify-center">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                </div>
                <p class="text-[10px]">Guia rápida</p>
            </a>
            <a href="/">
                <img src="{{ url_for('static', filename='img/SenciLogo2.png')}}" alt="Logo Senci 2" class="object-cover h-12 ">
            </a>
        </div>
        <div class="w-full h-full">
            <div class="w-full flex justify-center">
                <p class="w-48 text-xl font-medium text-senciBlue text-center">Por favor seleccione la cantidad</p>
            </div>
            <div class="w-auto h-28 flex flex-col justify-evenly">
                <div class="flex justify-between">
                    <a class="sendData20 rounded-md bg-senciOrange">
                        <p class="w-24 h-10 font-bold  text-base text-white flex items-center justify-center">s/20.0</p>
                    </a>
                    <a class="sendData15 rounded-md bg-senciOrange">
                        <p class="w-24 h-10 font-bold  text-base text-white flex items-center justify-center">s/15.0</p>
                    </a>
                    <a class="sendData10 rounded-md bg-senciOrange">
                        <p class="w-24 h-10 font-bold  text-base text-white flex items-center justify-center">s/10.0</p>
                    </a>
                </div>
                <div class="flex justify-between">
                    <a class="sendData5 rounded-md bg-senciOrange">
                        <p class="w-24 h-10 font-bold  text-base text-white flex items-center justify-center">s/5.0</p>
                    </a>
                    <a class="sendData2 rounded-md bg-senciOrange">
                        <p class="w-24 h-10 font-bold  text-base text-white flex items-center justify-center">s/2.0</p>
                    </a>
                    <a href="/retirar-otro" class="rounded-md bg-senciOrange">
                        <p class="w-24 h-10 font-bold  text-base text-white flex items-center justify-center">
                            Otro
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="w-full flex justify-end">
            <p class="text-senciOrange text-[10px]">Sujeto a cambios según la demanda diaria</p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/retiroSimple.js') }}"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
</body>
</html>