<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otro</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/dist/output.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.css" />
</head>
<body>
    <div class="w-pantallaRaspX h-pantallaRaspY flex flex-col items-center  p-4">
        <div class="w-full h-8 flex justify-between items-center">
            <a href="/retirar" class="flex items-center justify-center gap-1 mb-2 mr-3">
                <div class="text-[8px] flex items-center justify-center">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
                <p class="text-[10px]">Volver</p>
            </a>
            <a href="/">
                <img src="{{ url_for('static', filename='img/SenciLogo2.png')}}" alt="Logo Senci 2" class="object-cover h-12 ">
            </a>
        </div>
        <div class="w-full h-full flex flex-col justify-evenly mb-10 items-center">
            <div class="w-full flex justify-center">
                <p class="w-72 text-xl font-medium text-senciBlue text-center">Por favor digite el monto de la transacción</p>
            </div>
            <button data-modal-target="popup-modal" data-modal-toggle="popup-modal"  class="w-36 h-8 bg-senciOrange flex gap-2 items-center justify-center rounded-lg p-1 mt-5">
                <i class="fa fa-arrow-circle-right text-white" aria-hidden="true"></i>
                <p class="text-white text-sm font-bold">Digitar monto</p>
            </button>
        </div>
        <div id="popup-modal" tabindex="-1" class="absolute top-2 z-50 hidden p-1 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
            <div class="relative w-full h-full max-w-md md:h-auto flex justify-center">
                <div class=" bg-senciGrey rounded-lg shadow dark:bg-white-700 w-56 h-53px">
                    <div class="m-3 flex flex-col items-center">
                        <div class="w-48 flex mb-2 justify-between">
                            <p class="bg-white p-2 w-full rounded-md">2.50</p>
                        </div>
                        <div class="flex flex-col gap-2">
                            <div class="flex gap-2">
                                <button type="button" class="border-2 rounded-md border-white">
                                    <p class="text-white  w-10">1</p>
                                </button>
                                <button type="button" class="border-2 rounded-md border-white">
                                    <p class="text-white p-2 w-10">2</p>
                                </button>
                                <button type="button" class="border-2 rounded-md border-white">
                                    <p class="text-white p-2 w-10">3</p>
                                </button>
                                <button type="button" class="border-2 rounded-md border-success">
                                    <p class="text-white p-2 w-10 bg-success">
                                        <i class="fa fa-check-circle text-white" aria-hidden="true"></i>
                                    </p>
                                </button>
                   
                            </div>
                            <div class="flex gap-2">
                                <button type="button" class="border-2 rounded-md border-white">
                                    <p class="text-white p-2 w-10">4</p>
                                </button>
                                <button type="button" class="border-2 rounded-md border-white">
                                    <p class="text-white p-2 w-10">5</p>
                                </button>
                                <button type="button" class="border-2 rounded-md border-white">
                                    <p class="text-white p-2 w-10">6</p>
                                </button>
                                <button type="button" class="border-2 rounded-md border-warning">
                                    <p class="text-white p-2 w-10 bg-warning" data-modal-hide="popup-modal">
                                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                                    </p>
                                </button>
                            </div>
                            <div class="flex gap-2">
                                <button type="button" class="border-2 rounded-md border-white">
                                    <p class="text-white p-2 w-10">7</p>
                                </button>
                                <button type="button" class="border-2 rounded-md border-white">
                                    <p class="text-white p-2 w-10">8</p>
                                </button>
                                <button type="button" class="border-2 rounded-md border-white">
                                    <p class="text-white p-2 w-10">9</p>
                                </button>
                                <button type="button" class="border-2 rounded-md border-white">
                                    <p class="text-white p-2 w-10">.</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="w-full flex justify-start">
            <p class="text-senciOrange text-[10px]">Monto mínimo s/0.50 centavos</p>
        </div>
    </div>
    <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
    <script src="https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.js"></script>
</body>
</html>