<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/dist/output.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="w-pantallaRaspX h-pantallaRaspY flex flex-col items-center justify-between p-4">
        <div class="w-full h-8 flex justify-between items-center">
            <a href="/step-2" class="flex items-center justify-center gap-1 mb-2 mr-3">
                <div class="text-[8px] flex items-center justify-center">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
                <p class="text-[10px]">Volver</p>
            </a>
            <a href="/">
                <img src="{{ url_for('static', filename='img/SenciLogo2.png')}}" alt="Logo Senci 2" class="object-cover h-12 ">
            </a>
        </div>
        <div class="w-full h-auto">
            <div class="w-56 h-auto flex flex-col  mt-2 ml-3">
                <h1 class="text-senciGreen font-bold w-auto text-xl">PASO 3</h1>
                <p class="text-sm font-bold">Retira el dinero de la parte inferior
                </p>
            </div>
            <div class="w-full h-16 flex justify-end pb-5 pr-16">
                <img src="{{ url_for('static', filename='img/step3.png')}}" alt="Monedas" class="object-cover w-32 h-auto">
            </div>
        </div>
        <div class="w-full flex justify-end">
            <a href="/finalizar-steps" class="w-24 bg-senciBlue flex gap-2 items-center justify-center rounded-lg p-1">
                <i class="fa fa-check-circle text-white" aria-hidden="true"></i>
                <p class="text-white text-sm">Finalizar</p>
            </a>
        </div>
    </div>
</body>
</html>