<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paso 1</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/dist/output.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="w-pantallaRaspX h-pantallaRaspY flex flex-col items-center justify-between p-4">
        <div class="w-full h-8 flex justify-end">
            <img src="{{ url_for('static', filename='img/SenciLogo2.png')}}" alt="Logo Senci 2" class="object-cover h-12 ">
        </div>
        <div class="w-full flex items-center justify-evenly">
            <div class="w-56 h-36 flex flex-col  mt-5 ml-3">
                <h1 class="text-senciGreen font-bold w-auto text-xl">PASO 1</h1>
                <p class="text-sm font-bold">Ingresa el monto a retirar <span class="font-medium">(recuerda que debe ser menor a 20 nuevos soles)</span>
                </p>
            </div>
            <img src="{{ url_for('static', filename='img/step1.png')}}" alt="" class="object-cover h-36">
        </div>
        <div class="w-full flex justify-end">
            <a href="/step-2" class="w-24 bg-senciBlue flex gap-2 items-center justify-center rounded-lg p-1">
                <i class="fa fa-arrow-circle-right text-white" aria-hidden="true"></i>
                <p class="text-white text-sm">Siguiente</p>
            </a>
        </div>
    </div>
</body>
</html>